* {
  margin: 0;
  padding: 0;
  --font_color_focused: white;
  --font-color-unfocused: rgb(139, 152, 172);
  --background-color: rgb(18, 18, 20);
  --menu-background: rgb(24, 24, 27);
  --border-color: rgb(0, 230, 105);
  --button-color: rgb(24, 27, 34);
  --modal-color: #303036;
}

::-webkit-scrollbar {
  width: 1rem;
  border: 1px solid rgb(0, 230, 105);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: rgb(0, 230, 105);
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  /* background-color: rgb(0, 230, 105); */
}

.color-change-3x {
  /* border-radius: 40%; */
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}
@keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}

.button-press {
  background-color: var(--border-color);
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  font-size: 1.1rem;
  color: black;
  transition: all 0.2s ease-in;
  /* box-shadow: #3c8b5f; */
  margin: 50px;
}
.button-press:hover {
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--border-color);
}

.phrase {
  margin-right: 1rem;
  background-color: var(--border-color);
  padding: 0.5rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  font-size: 1.1rem;
  color: black;
  transition: all 0.2s ease-in;
}
.phrase:hover {
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--border-color);
}

.profile-btn {
  background-color: var(--button-color);
  border-radius: 6px;
  padding: 0.5rem;
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  color: var(--font_color_focused);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.modal-box-2 {
  height: 26rem;
  width: 30rem;
  margin-left: 1rem;
  border-left: 1px solid var(--modal-color);
  padding-left: 2rem;
}

.display {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}
