* {
  margin: 0;
  padding: 0;
  --font_color_focused: white;
  --font-color-unfocused: rgb(139, 152, 172);
  --background-color: rgb(18, 18, 20);
  --menu-background: rgb(24, 24, 27);
}

.color-change-3x {
  /* border-radius: 40%; */
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}
@keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}
